# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd # импортируйте библиотеку pandas

In [3]:
data = pd.read_csv('/datasets/data.csv') # прочитайте csv-файл

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [4]:
data.head(20) # ваш код здесь

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [5]:
data.info() # ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [6]:
data.isna().sum() # ваш код здесь

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [7]:
data['total_income'] = \
data['total_income'].fillna(data.groupby('income_type')['total_income'].transform('median')) # ваш код здесь

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [8]:
data['days_employed'] = data['days_employed'].abs() # ваш код здесь

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [9]:
data.groupby('income_type')['days_employed'].median() # ваш код здесь

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [10]:
data['children'].unique() # ваш код здесь

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [11]:
data = data.drop(data[(data['children'] == -1) | 
                      (data['children'] == 20)].index) # ваш код здесь

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [12]:
data['children'].unique() # ваш код здесь

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [13]:
data['days_employed'] = \
data['days_employed'].fillna(data.groupby('income_type')['days_employed'].transform('median')) # ваш код здесь

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [14]:
data.isna().sum() # ваш код здесь

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [15]:
data['total_income'] = data['total_income'].astype('int') # ваш код здесь

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower() # ваш код здесь

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [17]:
data['education'].duplicated().sum() # посчитайте дубликаты

21397

In [18]:
data['education'].drop_duplicates() # удалите дубликаты

0                    высшее
1                   среднее
13      неоконченное высшее
31                начальное
2963         ученая степень
Name: education, dtype: object

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [19]:
def categorize_income(cat): # создайте функцию categorize_income()
    if 0 <= cat <= 30000:
        return 'E'
    if 30001 <= cat <= 50000:
        return 'D'
    if 50001 <= cat <= 200000:
        return 'C'
    if 200001 <= cat <= 1000000:
        return 'B'
    if cat >= 1000001:
        return 'A'

In [20]:
data['total_income_category'] = data['total_income'].apply(categorize_income) # примените функцию методом apply()

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [21]:
data['purpose'].unique() # ваш код здесь

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [22]:
def categorize_purpose(cat): # создайте функцию categorize_purpose()
    if 'авто' in cat:
        return 'операции с автомобилем'
    if 'недвиж' in cat or 'жил' in cat:
        return 'операции с недвижимостью'
    if 'свад' in cat:
        return 'проведение свадьбы'
    if 'образ' in cat:
        return 'получение образования'

In [23]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose) # примените функцию методом apply()

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [25]:
data.groupby('children')['debt'].mean()

children
0    0.075129
1    0.092154
2    0.094404
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

**Вывод:** Как мы видем выше, зависимость есть. Самыми опасными категориями являются лица, у которых 1, 2 и 4 ребенка. Иными словами, количество детей влияет на возврат кредита в срок. Как бы удивительно это не было, но доля не вернувших кредит в срок лиц с 5 детьми равна 0. Скорее всего это из-за того, что людей с 5 детьми, берущих кредит мало, и на данный момент все из них возвращали кредит в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
data.groupby('family_status')['debt'].mean()

family_status
Не женат / не замужем    0.097535
в разводе                0.070648
вдовец / вдова           0.066176
гражданский брак         0.092548
женат / замужем          0.075354
Name: debt, dtype: float64

**Вывод:** Получается, что зависимость есть. По данным мы видим, что люди не состоящие в браке и состоящие в гражданском браке - самые опасные категории. Они чаще остальных не возвращают кредит в срок. Самой же безопасной категорией являются вдовцы и вдовы, а люди в разводе и состоящие в браке занимают среднее положение и почти идентичны друг другу.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [27]:
data.groupby('total_income_category')['debt'].mean()

total_income_category
A    0.080000
B    0.070602
C    0.084605
D    0.060172
E    0.090909
Name: debt, dtype: float64

**Вывод:** Люди с самым маленьким заработком (категория Е) - наиболее опасная категория. Дальше идут люди, находящиеся в категории С. Люди которые зарабатывают больше миллиона рублей, казалось бы должны быть самой безопасной категорией, но не тут то было. Видимо когда денег больше, то и запросы больше, а об ответственности часто забывают. Самая безопасная категория здесь - это люди, относящиеся к категории D, то есть доход которых равен промежутку от 30 до 50 тысяч.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
data.groupby('purpose_category')['debt'].mean()

purpose_category
операции с автомобилем      0.093284
операции с недвижимостью    0.072356
получение образования       0.092319
проведение свадьбы          0.078306
Name: debt, dtype: float64

**Вывод:** Самые опасные категории - это операции с автомобилем и получение образования, а проведение свадьбы и операции с недвижимостью самые безопасные. Очень интересная зависимость, ведь в делах с недвижимостью крутятся большьшие деньги.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в данных появляются:

1. Совершенно случайно
    * вероятность встретить пропуск не зависит ни от каких других значений. Пропуск может быть объяснен переменной, его легко восстановить;
    
    
2. Случайно
    * вероятность пропуска зависит от других значений в наборе данных, но не от значений собственного столбца;


3. Не случайно
    * вероятность пропуска зависит от других значений, в том числе и от значений собственного столбца.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Потому что медианное значение наиболее приближено к реальному среднему, нежели среднее арифметическое, так как любое сильно выделяющееся значение очень сильно повлияет на него. Пример ниже:

In [29]:
import pandas as pd

mean = pd.Series ([1, 2, 3, 4, 5, 100])
median = pd.Series ([1, 2, 3, 4, 5, 100])

print('Среднее арифметическое равно:', mean.mean())
print('Медианное равно:', median.median())

Среднее арифметическое равно: 19.166666666666668
Медианное равно: 3.5

### Шаг 4: общий вывод.

# Про код:
Мы превели достаточно большую и интересную работу. В данном исследовании мы применяли знания полученные из пройденных уроков, а именно:
1. написание функций
2. работа с библиотекой Pandas и её функциями и атрибутами
3. искали и удаляли дубликаты 
4. применяли катигоризацию данных

# Про результаты:
На основе проведенной выше работы, мы можем сделать выводы и ответить на основные вопросы:

1. Зависимость между количеством детей и возвратом кредита в срок есть. 

    * людей, имеющих 1, 2 и 4 детей, можно отнести к самой опасной категории;
    * более безопасными категориями можно считать людей без детей и с 3 детьми;
    * результаты показали, что категория людей с 5 детьми самая безопасная и в 100% случаев возращают крудит в срок, но я бы подверг этот вывод сомнению и провел бы доп исследование по этому вопросу. Тут может быть как и ошибка, так и нехватка данных.
    

2. Зависимость между семейным положением и возвратом кредита в срок есть.

    * самыми опасными категориями являются лица не состоящие в браке, а также лица, состоящие в гражданском браке;
    * люди в разводе и люди, состоящие в браке, в равной степени занимают среднее положение;
    * самой же безопасной категорией являются вдовцы и вдовы.
    

3. Зависимость между уровнем дохода и возвратом кредита в срок есть.

    * наиболее опасной является категория людей с самым маленьким заработком;
    * середняком у нас будут категории А, В, С. Причем категории А и С практически идентичны, но уровень дохода у них максимально разный (> 1.000.000 против 50-200 тысяч);
    * люди, относящиеся к категории D (заработок от 30 до 50 тысяч) - самая безопасная категория.
    

4. Разные цели кредита влияют на его возврат в срок.

    * деньги взятые для операций с автомобилем и для образования возвращают в срок реже
    * а вот деньги для операций с недвижимостью и для проведения свадьбы возращают в срок чаще
    
**Хотелось бы обратить внимание также и на то, что самые опасные категории зачастую ялвялются и самымими популярными. То есть семей с 1 и 2 явно больше, чем семей с 3 или 5 детьми. Кредит на авто берут чаще, чем кредит на свадьбу. Это не было учтено в ходе исследования, но может достаточно сильно повлиять на итоги исследования.**
    
# Портрет
Получается, сейчас мы можем составить портреты самого безопсаного  и самого опасного для банка заемщика.

*Безопасный* - человек без детей, вдовец/вдова, получающий от 30 до 50 тысяч в месяц

*Опасный* - человек с 1-2 детьми, состоящий в браке или в разводе, зарабатывающий менее 30 тысяч в месяц